<header>
  <div class="container">
    <div class="header-container">
      <div class="header-content">
        <img src="vox-logo.png" alt="VOX" class="logo" />
        @if(hideEditcompany()){
        <h2 class="title">Pedidos de Abertura da empresa</h2>
        }@else{
        <h2 class="title">Pedidos de Edição da empresa</h2>
        }
      </div>
      @if (hideButton()) {
      <div class="button-container">
        <button class="btn btn-primary" (click)="navigateToRegister()">
          <i class="bi bi-plus-circle"></i>
          Solicitar Abertura
        </button>
      </div>
      }
    </div>
  </div>
</header>
