header {
  width: 100vw;
  background-color: #c3cfd9;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 1rem 1rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  color: #007bff;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button-container {
  margin-right: 0;
}

.logo {
  height: 40px;
  width: auto;
}
