<div class="root-container">
  <p class="description">
    Página não encontrada!
    <br />
    Desculpe, não encontramos a página que você está procurando.
    <br />
    <span class="bold-text">Talvez você tenha digitado errado o URL?</span>
    <br />
    <span>Certifique-se de verificar sua ortografia.</span>
  </p>

  <div class="error-container">
    <h1 class="error-code">404</h1>
    <img src="404.png" alt="Erro 404" width="120" height="220" />
  </div>

  <button class="button-teste" (click)="navigateHome()">Voltar</button>
</div>
